.theme-picker {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    z-index: 300;
    width: -moz-fit-content; width: fit-content;
}

.theme-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--theme-icon);
    margin-inline-end: 0.5rem;
}

.btn-theme-toggle {
    display: var(--flex);
    align-items: center;
    padding: 0.5rem 0.5rem 0.75rem 0;
    border-bottom: 5px solid var(--clr-green);
    color: var(--theme-txt);
    font-size: clamp(1.2rem, 1.1rem + 0.4444vw, 1.6rem);

    &:hover {
        opacity: 0.8;
    }

    & .mode {
        margin-inline-start: 0.5rem;
    }
}
