* {
    box-sizing: border-box;
    margin-top: 0;
}

html {
    overflow-y: scroll;
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(9, 9, 70);
    background-color: rgb(245, 245, 250);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 0;
    padding: 1rem 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: auto;
    color: currentColor;
    background: white;
    border: 0;
    outline: 2px solid currentColor;
    border-radius: 0.5rem;
    font-size: inherit;
}

button:hover {
    background-color: rgb(245, 245, 250);
}

a {
    color: rgb(32, 32, 207);
}

/* Page layout */
.page-wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.content-main {
    display: grid;
    align-items: center;
}

.heading-main {
    margin-bottom: 3rem;
}

.page-heading {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
}

@media screen and (min-width: 800px) {
    .page-heading {
        font-size: 3rem;
    }
}

.page-footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5rem;
}
.page-footer ul {
    padding: 0;
}
.page-footer li {
    list-style: none;
}

/* Form */
.time-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 42rem;
    margin: 0 auto;

    font-size: 1rem;
    background: white;
    border: 1px dotted currentColor;
    padding: 1rem;
}

@media screen and (min-width: 650px) {
    .time-form {
        font-size: 1.25rem;
        padding: 2rem;
    }
}

.time-form-elements {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: fit-content;
    margin: 0 auto;
}

.time-form-elements > div {
    display: flex;
    justify-content: space-between;
}

.time-form-elements label {
    margin-left: auto;
    margin-right: 0.5rem;
}

@media screen and (min-width: 550px) {
    .time-form-elements {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin: 0;
    }
}

.time-form .appearance::-webkit-outer-spin-button,
.time-form .appearance::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.time-form input {
    width: 5ch;
    appearance: textfield;
    text-align: center;
    font-family: monospace;
}

.time-form button {
    margin: auto 0 auto auto;
}

.time-form .warning {
    background-color: rgb(252, 237, 237);
    font-weight: 600;
    color: red;
    border: 1px dashed red;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 0 auto;
}

/* Timer */
.timer-message {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
    width: 15ch;
}

@media screen and (min-width: 800px) {
    .timer-message {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .timer-message {
        font-size: 2.5rem;
        padding: 0 1rem;
    }
}

.timer-display {
    margin: 0 auto;
    font-size: 3rem;
    font-family: monospace;
}

/* Audio */
.audio-wrapper {
    height: 0.1rem;
    overflow: hidden;
}
.audio-wrapper audio {
    visibility: hidden;
}

/* Modal */
#modal {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid currentColor;
    padding: 0.25rem 0.25rem 0.5rem 0.25rem;
    border-radius: 0.5rem;
    background-color: white;
    width: 100%;
}

@media screen and (min-width: 300px) {
    #modal {
        width: auto;
    }
}

@media screen and (min-width: 800px) {
    #modal {
        padding: 0.5rem 0.5rem 1rem 0.5rem;
    }
}

@media screen and (min-width: 1200px) {
    #modal {
        padding: 1rem 1rem 2rem 1rem;
    }
}

.close-modal-btn {
    font-size: 2rem;
    font-size: 1rem;
}

@media screen and (min-width: 800px) {
    .close-modal-btn {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .close-modal-btn {
        font-size: 2rem;
    }
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(9, 9, 70, 0.75);
}
#modal.open {
    display: flex;
}

#overlay.open {
    display: block;
}

/* Display to screen readers only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
